@import url('https://fonts.googleapis.com/css2?family=Ubuntu+Sans:ital,wght@0,100..800;1,100..800&display=swap');

/* RESET */
* {
  margin: 0;
  padding: 0;
}

/* NAVBAR & LOGO */
.logo {
  width: 30%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.logo img {
  width: 20%;
  border: 1px solid gray;
  border-radius: 100px;
}

.navbar {
  display: flex;
  align-items: center;
  justify-content: center;
  position: sticky;
  top: 0;
  cursor: pointer;
}

.nav-list {
  width: 50%;
  display: flex;
  align-items: center;
}

.nav-list li {
  list-style: none;
  padding: 23px;
}

.nav-list li a {
  text-decoration: none;
  color: white;
  font-size: 20px;
  font-family: "Ubuntu Sans", sans-serif;
}

.nav-list li a:hover {
  color: black;
}

/* DARK MODE */
.dark-mode {
  background-color: #121212a4;
  color: black;
}

.dark-mode .navbar {
  background-color: #121212bd;
}

#darkToggle {
  padding: 8px 14px;
  cursor: pointer;
  border-radius: 6px;
  border: black 1px solid;
}

#darkToggle:hover {
  background-color: black;
  color: white;
}

/* BACKGROUND SECTIONS */
.bgmain {
  background-color: grey;
}

.background {
  background: rgba(0, 0, 0, 0.7) url('bg2.jpg');
  background-size: cover;
  background-blend-mode: darken;
  height: 600px;
}

/* HERO SECTION */
.firstsection {
  height: 100dvh;
}

.box-main {
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  font-family: 'Trebuchet MS', Arial, sans-serif;
  width: 95%;
  height: 75%;
  margin: auto;
}

.firstHalf h1 {
  font-size: 50px;
  margin-bottom: 20px;
}

.firstHalf p {
  font-size: 20px;
  margin-bottom: 20px;
}

/* IMAGE SECTION */
.secondHalf {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 80%;
}

.secondHalf img,
.thumbnail img {
  width: 100%;
  border-radius: 20px;
  border: 1px solid gray;
  box-shadow: 10px 10px 5px grey;
}

.thumbnail {
  display: block;
  margin: 0 auto;
  width: 65%;
}

/* BUTTONS */
.btn {
  padding: 5px 10px;
  font-size: 16px;
  border: 2px solid white;
  border-radius: 10px;
  background: none;
  color: white;
  cursor: pointer;
}

.btn-sm {
  padding: 3px 10px;
  font-size: medium;
}

.btn-dark {
  padding: 10px 20px;
  font-size: 20px;
  border: 2px solid black;
  border-radius: 10px;
  background: black;
  color: white;
  cursor: pointer;
  margin-top: 10px;
}

/* GENERIC SECTION CONTAINERS */
.sectionRight,
.sectLeft {
  height: 500px;
  max-width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 20px;
  margin: auto;
}

.sectionRight h2 {
  font-size: 40px;
  margin-bottom: 20px;
}

/* TEXT & TAGS */
.sectionTag,
.subHeading {
  font-size: 25px;
  font-family: 'Trebuchet MS', Arial, sans-serif;
  padding: 10px 20px;
  text-align: center;
}

.sectionsubTag1 {
  font-size: 20px;
  font-family: 'Ubuntu Sans', sans-serif;
  background: antiquewhite;
  padding: 10px 200px;
  max-width: 800px;
  margin: 20px auto;
  border-radius: 10px;
  box-shadow: 0 15px 35px rgba(0, 0, 0, 0.08);
  border-left: 5px solid blue;
}

.secPara {
  font-size: 20px;
  font-family: 'Trebuchet MS', Arial, sans-serif;
  padding: 20px 200px;
  text-align: center;
}

/* FOOTER */
.footerPara {
  background: grey;
  color: white;
  text-align: center;
  padding: 20px;
  font-size: 20px;
}
